<%- include('../partials/header') %>
    <div class="container">
      <h3>View Polls</h3>
      <hr>
      <% polls.forEach(function(poll){ %>
      <form class="bg-white text-dark" action="/poll/<%=poll.id%>" method="POST">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id=""
            disabled
            value="<%= poll.question %>"
            name="<%= poll.question %>"
          />
        </div>
        <h5>Options</h5>
        <% poll.answers.forEach(function(answer){ %>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="<%= answer %>"
            id="<%= answer %>"
            value="<%= answer %>"
          />
          <label class="form-check-label" for="<%= answer %>">
            <%= answer %>
          </label>
        </div>
        <% }); %>
        <button type="submit" class="btn btn-primary">Vote Now !!!</button>
        <a class="btn btn-secondary" href="/poll/<%= poll.id %>">view stats</a>
      </form>
      <hr>
      <% }); %>
      <strong><a href="/poll/create">Want to create your own poll? click here</a></strong>
    </div>
    
    <%- include('../partials/footer') %>
    
    
    