<%- include('../partials/header') %>
<div class="container">
  <h5>Q: <%= poll.question %></h5>
  <hr>
  
  <% if(poll.votes && poll.votes.length>0){ %>
    <h5>Votes So Far</h5>
    <% poll.votes.forEach(function(pv){ %>
      <div class="alert alert-info">
        <strong><%= Object.keys(pv)[0] %></strong> - <%= Object.values(pv)[0] %>
        Vote(s)
      </div>
      <hr>
      <% }); %>
  <% } else { %>
    <div class="text-success"><a href='/poll'>Be the first one to vote !!!</a></div>
    <hr>
  <%}%>
  
  <form action="/poll/<%= poll.id %>?_method=PUT" method="POST">
    <h5>Avalible options so far</h5>
    <div class="form-group" id="answers">
      <% poll.answers.forEach(function(answer,i){ %>
      <label for="answer">Option <%=i+1%></label>
      <input
        type="text"
        class="form-control"
        id="<%= answer%>"
        name="answer"
        value="<%=answer%>"
        disabled
      />
      <% }); %>
    </div>
    <div>
      <small class="text-danger">Any duplicate options will be removed. Plese refrain from adding such options.</small>
    </div>
    <button type="submit" class="btn btn-primary">Save poll</button>
    <button
      type="button"
      onclick="addelement()"
      class="btn btn-secondary btn-md"
    >
      Add more options
    </button>
    <% if(!currentUser){ %>
      <button
      type="button"
      class="btn btn-md btn-danger"
      disabled
    >
      Make poll In-Active
    </button>
        <% } else { %>
          <button
          type="button"
          class="btn btn-md btn-danger"
          data-toggle="modal"
          data-target="#exampleModal"
          data-whatever="@mdo"
        >
          Make poll In-Active
        </button>
    <% } %>

    
  </form>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <form
        id="delete_form"
        action="/poll/<%= poll.id %>/inactive?_method=PUT"
        method="POST"
      >
      </form>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            This action is irreversible,Please confirm
          </h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          <button
            onclick="form_submit()"
            type="button"
            class="btn btn-primary"
            form="modal-details"
            type="submit"
          >
            Yes, I'm sure
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
<script>
  function form_submit() {
    console.log("clciked");
    let d = document.getElementById("delete_form");
    console.log(d);
    d.submit();
  }
  function addelement() {
    let formElement = document.getElementById("answers");
    console.log();
    let len = formElement.children.length / 2;
    let input = document.createElement("input");
    input.type = "text";
    input.name = "answer";
    input.required = true;
    input.classList.add("form-control");
    let label = document.createElement("label");
    label.innerText = `Option ${len + 1}`;
    formElement.appendChild(label);
    formElement.appendChild(input);
  }
</script>
